---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import 'swiper/swiper-bundle.css';

---

<Layout title="Spokane Grafitti.">
	<body>

        <nav class="navbar">
			<ul>
			  <li><a href="/"><img class="icon" src="https://www.freeiconspng.com/thumbs/spray-can-png/spray-can-png-26.png"/></a></li>
			  <li><a href="/graffiti/">About</a></li>
			  <li><a href="/grafitticontent/">Gallery</a></li>
			</ul>
		  </nav>


		<div class="overlay">
	<main>
		

		
		<div class="swiper-container">
			<div class="swiper-wrapper">
			  <div class="swiper-slide">Slide 1</div>
			  <div class="swiper-slide">Slide 2</div>
			  <div class="swiper-slide">Slide 3</div>
			</div>
			<!-- Add Pagination -->
			<div class="swiper-pagination"></div>
			<!-- Add Navigation -->
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
		  </div>
		
	</main>
	</div>
	</body>
</Layout>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    import('swiper/bundle').then(({ default: Swiper }) => {
      new Swiper('.swiper-container', {
        slidesPerView: 1,
        spaceBetween: 10,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
      });
    });
  });
  </script>

<style>
    html{
		height:100vh;
		width:100%;
		margin:0;
		padding:0;
	}
	body{
		height:100vh;
		width:100%;
		background-image: url('https://irp-cdn.multiscreensite.com/6ff94093/dms3rep/multi/tumblr_inline_ntyks0xBdN1tbk6o9_1280-1280x851.png');
		background-size: cover;
		background-position: center;
        margin: 0;
	}
	.overlay{
		background: rgba(0,0,0,0.5);
		height:100vh;
		width:100%;
	}

    .navbar {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
  }
  .navbar ul li {
    padding: 1rem;
	padding-top:1em;
  }
  .navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  .icon{
	width:1em;
	position:fixed;
	margin-top:-.5em;
  }
  .navbar ul li a:hover{
	  color: #23d205;
  }

	main {
		margin: auto;
		padding-top:20vh;
		width: 100%;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	
	
	.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: white;
    z-index: 10;
	
  }

  @media(max-width:780px;){
		html{
		height:100vh;
		width:100%;
		margin:0;
		padding:0;
	}
	body{
		height:100vh;
		width:100%;
		background-image: url('https://irp-cdn.multiscreensite.com/6ff94093/dms3rep/multi/tumblr_inline_ntyks0xBdN1tbk6o9_1280-1280x851.png');
		background-size: cover;
		background-position: center;
		margin: 0;
		position:absolute;
	}
	.overlay{
		background: rgba(0,0,0,0.5);
		height:100vh;
		width:100%;
	}
	main {
		margin: auto;
		padding-top:20vh;
		width: 100%;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
.swiper-container {
	width: 100%;
	overflow:hidden;
  }
  .swiper-slide {
	text-align: center;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	width:100%;
	overflow-x:hidden; 
  }
  .swiper-button-next,
  .swiper-button-prev {
	color: white;
	z-index: 10;
	}
  }
</style>
