---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Chathura:wght@100;300;400;700;800&family=Lexend+Giga:wght@100..900&family=Rubik+Wet+Paint&family=Zen+Dots&display=swap" rel="stylesheet">

<Layout title="Welcome to Spokane Grafitti.">
	<body>
		<div class="overlay">
	<main>
		
		<h2>Welcome to</h2>
		<img class="hero" src="images/hero.png"/>

	<a href="/graffiti/">
		<img class="spray" src="https://www.freeiconspng.com/thumbs/spray-can-png/spray-can-png-26.png"/>
	</a>
		
		
	</main>
	</div>
	</body>
</Layout>

<style>
	html{
		height:100vh;
		width:100%;
		margin:0;
		padding:0;
	}
	body{
		height:100vh;
		width:100%;
		background-image: url('https://31.media.tumblr.com/0d1b7a97b476fb3f76c60b55713e8ec7/tumblr_nj0posmdzC1s6video1_540.gif');
		background-size: cover;
		background-position: center;
		margin: 0;
	}
	.overlay{
		background: rgba(0,0,0,0.5);
		height:100vh;
		width:100%;
	}
	main {
		margin: auto;
		padding-top:20vh;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	
	.spray{
		width:6em;
		display:flex;
		margin:auto;
		border: 2px solid transparent;
        transition: border-color 0.3s, box-shadow 0.3s;
		margin-top:-2em;
	}
	.spray:hover{
    box-shadow: 0 0 10px rgba(0, 205, 34, 0.8); /* Highlight shadow */
	}
	
	.hero{
		width:50em;
		margin-left:-5em;
		margin-top:-4em;
		padding:0;
	}

	h2{
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
		font-family: "Rubik Wet Paint", system-ui;
        font-weight: 400;
        font-style: normal;
		color:white;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
		text-align:center;
	}
	@media (max-width: 780px){
		html{
		height:120vh;
		width:100%;
		margin:0;
		padding:0;
	}
	body{
		height:120vh;
		width:100%;
		background-image: url('https://irp-cdn.multiscreensite.com/6ff94093/dms3rep/multi/tumblr_inline_ntyks0xBdN1tbk6o9_1280-1280x851.png');
		background-size: cover;
		background-position: center;
		margin: 0;
	}
	.overlay{
		background: rgba(0,0,0,0.5);
		height:130vh;
		width:100%;
	}
	.hero{
		display:flex;
		align-items:center;
		justify-content:center;
		width:20em;
		padding:0;
	}
	


	}
</style>
